<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Landing Page</p>
    
    <%messages.forEach((message) => {%>
        <br></br>
        <p><%-message.text%></p>
        <p><%-message.user%></p>
        <p><%-message.added%></p>
        <br></br>
    <%})%>

    <a href="http://localhost:3000/new">Add new message</a>
    
</body>
</html>